body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}




.letter {
    position: absolute;
    font-size: 2em;
    color: grey;
}




.title {
    display: flex;
    justify-content: end;
    font-size: 2em;
    font-weight: bold;
    margin: 30px;
    font-family: "Arvo", serif;
}

.arvo-regular {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
}

.arvo-bold {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
}

.arvo-regular-italic {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: italic;
}

.arvo-bold-italic {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: italic;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
}

.upload-box, .translation-box {
    width: calc(50% - 20px); /* Adjusted to account for margin and border */
    min-height: 300px; /* Increased box height */
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.upload-icon {
    width: 0;
    height: 0;
    border-left: 25px solid transparent; /* Half of the width of the arrow */
    border-right: 25px solid transparent; /* Half of the width of the arrow */
    border-bottom: 40px solid #1e1e1f; /* Color of the arrow */
    cursor: pointer;
    position: absolute;
    top: 20px;
}

.Documents-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;
    height: 45px;
    border: none;
    padding: 0px 15px;
    border-radius: 5px;
    background-color: rgb(49, 49, 83);
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s;
  }
  .folderContainer {
    width: 40px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
  }
  .fileBack {
    z-index: 1;
    width: 80%;
    height: auto;
  }
  .filePage {
    width: 50%;
    height: auto;
    position: absolute;
    z-index: 2;
    transition: all 0.3s ease-out;
  }
  .fileFront {
    width: 85%;
    height: auto;
    position: absolute;
    z-index: 3;
    opacity: 0.95;
    transform-origin: bottom;
    transition: all 0.3s ease-out;
  }
  .text {
    color: white;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
  .Documents-btn:hover .filePage {
    transform: translateY(-5px);
  }
  .Documents-btn:hover {
    background-color: rgb(58, 58, 94);
  }
  .Documents-btn:active {
    transform: scale(0.95);
  }
  .Documents-btn:hover .fileFront {
    transform: rotateX(30deg);
  }
  

.upload-message {
    margin-top: 60px; /* Adjusted margin */
    font-weight: bold;
    color: grey; /* Set text color to grey */
}

.language-dropdown, .output-language-dropdown {
    margin-top: 20px;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.translated-content {
    width: 100%;
    height: 125px;
    margin-bottom: 10px;
    resize: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.translate-button {
    padding: 10px 20px;
    background-color: #7cceee;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.translate-button:hover {
    background-color: #89bff1;
}

.menu {
    font-size: 1.5em;
    font-weight: bold;
}


.btn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #040f16;
    color: #f5f5f5;
    margin: 30px;
}

.btn:hover {
    box-shadow: 0 0 20px 0px #2e2e2e3a;
}

.btn .icon {
    position: absolute;
    height: 40px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.btn .text {
    transform: translateX(55px);
}

.btn:hover .icon {
    width: 200px;
}

.btn:hover .text {
    transition: all 0.5s;
    opacity: 0;
}

.btn:focus {
    outline: none;
}

.btn:active .icon {
    transform: scale(0.85);
}
